body {

    background-color: #191414;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

#form_box {
    text-align: center;
    padding: 5pt 5pt;
    border-radius: 5px;
    background-color: #1db954;
    columns: 3/4;
}

#spotify_form {
    background-color: #1db954;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 20pt 20pt;
    margin: 10px 10px;
    grid-column: 3/4;
    grid-row: 2/4;
}

.fa-brands-fa-spotify {
size: 30px 50px;
}

#rock_concert {
    height: 50pc;
    width: 50pc;
}